<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinkbold.mat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAT"
        android:usesCleartextTraffic="true">
        <activity android:name=".UyoleWeb"></activity>
        <activity android:name=".UkiriguruWeb" />
        <activity android:name=".TumbiWeb" />
        <activity android:name=".NSIweb" />
        <activity android:name=".MubondoWeb" />
        <activity android:name=".MtwaraWeb" />
        <activity android:name=".MlinganoWeb" />
        <activity android:name=".MarukuWeb" />
        <activity android:name=".KatcWeb" />
        <activity android:name=".KatrinWeb" />
        <activity android:name=".InyaraWeb" />
        <activity android:name=".IlongaWeb" />
        <activity android:name=".IgurusiWeb" />
        <activity android:name=".TengeruWeb" />
        <activity
            android:name=".Icolleges"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MatMis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CollegeWebsites"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GeneralContact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MatWebsite"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>